{% extends "base.html" %}

{% block styles %}
    <link href="/grade_list.css" rel="stylesheet" />
{% endblock %}


{% block page_content %}
<div class="paper">
    {% if student %}
    <label>学号：{{student.no}}</label>
    <label>姓名：{{student.name}}</label>
    <label>学院：{{student.school}}</label>
    <label>学级：{{student.year}}</label>
    <label>班级：{{student.clazz}}</label>
    <hr />
    {% endif %}
    <table>
        <tr>
            <th>学号</th>
            <th>课程名</th>
            <th>课程号</th>
            <th>学分</th>
            <th>学时</th>
            <th>学期</th>
            <th>得分</th>
        </tr>
        {% for item in courses %}
        <tr>
            <td>{{ item[0].no }}</td>
            <td>{{ item[1].name }}</td>
            <td>{{ item[1].no }}</td>
            <td>{{ item[1].credit }}</td>
            <td>{{ item[1].class_hours }}</td>
            <td>{{ item[1].semester }}</td>
            {% if item[2].grade | float() < 0 %}
            <td>Not available</td>
            {% else %}
            <td>{{ item[2].grade }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <div class="btn">
        <a href="/student">
            返回
        </a>
    </div>
</div>
{% endblock %}
